In [ ]:
import numpy as np
import pandas as pd
import os
from pypinyin import pinyin, lazy_pinyin, Style
import matplotlib.pyplot as plt
#from sklearn.linear_model import LinearRegression

#import janitor
import econtools.metrics as mt

### NSFC data

In [86]:
qn_all = pd.read_csv("/Users/yansong/Nutstore Files/基金研究/data/2013--2022面青/qn_senti.csv")

In [111]:
qn_all.shape

(1783, 10)

In [88]:
qn_all = qn_all[['申请人','年份','立项','Senti']]
qn_all.rename(columns={'年份':'year','Senti':'senti'},inplace=True)

In [89]:
qn_all.head(1)

   申请人  year  立项     senti
0  王效强  2014   0  0.279422

In [90]:
qn_all['立项年份'] = qn_all['year']*qn_all['立项']

In [91]:
#qn_all = pd.DataFrame(qn_all.groupby(['申请人']).立项年份.max()).reset_index()

In [92]:
qn_all.立项年份.value_counts()

0       1282
2019     111
2020     108
2016      64
2014      60
2017      56
2018      54
2015      48
Name: 立项年份, dtype: int64

In [93]:
def pinyin(name):
    i = lazy_pinyin(name)
    if len(i) == 3:
        capitalized = [str.capitalize(i[0]),str.capitalize(i[1]+i[2])]
    elif len(i) == 2:
        capitalized = [str.capitalize(i[0]),str.capitalize(i[1])]
    else:
        print(i)
        capitalized = i
    return capitalized

In [94]:
qn_all['pinyin']= qn_all['申请人'].apply(pinyin)

['Bagrat Mailyan']
['Tsona Tchinda Narcisse']
['Shani Tiwari']
['Munish Kumar Gupta']

In [95]:
def surname(name):
    i = lazy_pinyin(name)
    if len(i) == 3:
        capitalized = str.capitalize(i[0])
    elif len(i) == 2:
        capitalized = str.capitalize(i[0])
    else:
        print(i)
        capitalized = i[0]
    return capitalized

def givenname(name):
    i = lazy_pinyin(name)
    if len(i) == 3:
        capitalized = str.capitalize(i[1]+i[2])
    elif len(i) == 2:
        capitalized = str.capitalize(i[1])
    else:
        print(i)
        capitalized = i[0]
    return capitalized

In [96]:
qn_all['surname'] = qn_all['申请人'].apply(surname)

['Bagrat Mailyan']
['Tsona Tchinda Narcisse']
['Shani Tiwari']
['Munish Kumar Gupta']

In [97]:
qn_all['givenname'] = qn_all['申请人'].apply(givenname)

['Bagrat Mailyan']
['Tsona Tchinda Narcisse']
['Shani Tiwari']
['Munish Kumar Gupta']

In [98]:
qn_all['author_name'] = qn_all['surname']+' '+qn_all['givenname']

In [99]:
qn_all = qn_all.sort_values(['申请人','year']).reset_index()

In [100]:
qn_all.head(10)

,index,申请人,year,立项,senti,立项年份,pinyin,surname,givenname,author_name
0,83,Bagrat Mailyan,2014,1,0.868811,2014,[Bagrat Mailyan],Bagrat Mailyan,Bagrat Mailyan,Bagrat Mailyan Bagrat Mailyan
1,1597,Munish Kumar Gupta,2020,0,0.008956,0,[Munish Kumar Gupta],Munish Kumar Gupta,Munish Kumar Gupta,Munish Kumar Gupta Munish Kumar Gupta
2,1154,Shani Tiwari,2019,0,0.011995,0,[Shani Tiwari],Shani Tiwari,Shani Tiwari,Shani Tiwari Shani Tiwari
3,625,Tsona Tchinda Narcisse,2017,1,0.743392,2017,[Tsona Tchinda Narcisse],Tsona Tchinda Narcisse,Tsona Tchinda Narcisse,Tsona Tchinda Narcisse Tsona Tchinda Narcisse
4,718,丁一,2017,0,0.009840,0,"[Ding, Yi]",Ding,Yi,Ding Yi
5,929,丁一,2018,0,0.013462,0,"[Ding, Yi]",Ding,Yi,Ding Yi
6,1239,丁一,2019,0,0.012074,0,"[Ding, Yi]",Ding,Yi,Ding Yi
7,1659,丁一,2020,0,0.307627,0,"[Ding, Yi]",Ding,Yi,Ding Yi
8,658,丁硕,2017,0,0.013779,0,"[Ding, Shuo]",Ding,Shuo,Ding Shuo
9,86,丁磊,2014,0,0.011386,0,"[Ding, Lei]",Ding,Lei,Ding Lei

In [101]:
#qn_nsfc = qn_all.groupby(['申请人','author_name'])['author_name','立项年份'].mean().reset_index()
qn_nsfc = qn_all

In [102]:
#qn_nsfc['pinyin_counts'] =  qn_nsfc['author_name'].map(qn_nsfc.author_name.value_counts())

In [103]:
#qn_nsfc['author_name'].map(qn_nsfc.author_name.value_counts())

In [104]:
#qn_nsfc = qn_nsfc.loc[qn_nsfc['pinyin_counts']==1]

In [105]:
qn_nsfc['year'] = qn_nsfc['year'].astype('int64')

In [112]:
qn_nsfc.shape

(1783, 10)

In [106]:
qn_nsfc.head(1)

,index,申请人,year,立项,senti,立项年份,pinyin,surname,givenname,author_name
0,83,Bagrat Mailyan,2014,1,0.868811,2014,[Bagrat Mailyan],Bagrat Mailyan,Bagrat Mailyan,Bagrat Mailyan Bagrat Mailyan

### Publication data

- Consolidate all publications with unique author eid
- Consolidate all author_eids
- Merge the two using author_eid 
- Reshape to wide format

In [ ]:
root_dir = "/Users/yansong/Nutstore Files/基金研究/data/2013--2022面青/scopusPub"
authors = os.listdir(root_dir)
os.chdir(root_dir)
unique = 0
unique_lists = []
for author_file in authors:
    #print(author_file)
    if '.csv' in author_file:
        author_pubs = pd.read_csv(author_file)
        author_pubs.rename(columns={"Unnamed: 0":"author_eid_counts"},inplace=True)
        author_pubs['eid_counts'] = author_pubs['author_eid_counts']==0
        counts = author_pubs.eid_counts.sum()    
        if counts == 1:
            unique_lists.append(author_pubs)
            unique = unique+1
            
qn_pubs = pd.concat(unique_lists)
print(qn_pubs.shape)
qn_pubs.head(1)

In [60]:
root_dir = "/Users/yansong/Nutstore Files/基金研究/data/2013--2022面青/scopus"
authors = os.listdir(root_dir)
os.chdir(root_dir)
unique_lists = []

for author_file in authors:
    if '.csv' in author_file:
        author_pubs = pd.read_csv(author_file)
        if author_pubs.shape[0] == 1:
            unique_lists.append(author_pubs)
            unique = unique+1
author_ids = pd.concat(unique_lists)
author_ids['author_eid']= author_ids['eid'].str.split("-").str.get(2)
author_ids['author_eid'] = author_ids['author_eid'].astype('int64')
author_ids.head(1)

,Unnamed: 0,eid,orcid,surname,initials,givenname,affiliation,documents,affiliation_id,city,country,areas,author_eid
0,0,9-s2.0-57212831316,0000-0001-9707-584X,Li,C.,Chuanyang,Shandong University,20,60031031,Jinan,China,PHYS (19); EART (16),57212831316

In [61]:
qn_author_pubs = qn_pubs.merge(author_ids,how='left',on='author_eid')
qn_author_pubs['year'] = qn_author_pubs['coverDate'].str[0:4]
qn_author_pubs['author_name'] = qn_author_pubs['surname']+' ' +qn_author_pubs['givenname']

In [62]:
qn_author_pubs.head(1)

,author_eid_counts,affilname,afid,author_eid,author_names,citedby_count,coverDate,doi,eid_x,title,...,initials,givenname,affiliation,documents,affiliation_id,city,country,areas,year,author_name
0,0,Shandong University,60031031,57212831316,"Chen, Yao;Zhang, Zilong;Ni, Sulan;Ning, Hao;Li...",0,2022/11/1,10.1063/5.0108780,2-s2.0-85144444028,Plasma emission induced by ring-distributed en...,...,C.,Chuanyang,Shandong University,20,60031031,Jinan,China,PHYS (19); EART (16),2022,Li Chuanyang

In [63]:
qn_author_year_pubs = qn_author_pubs.groupby(['author_name','year'])['author_eid_counts'].count()

In [64]:
qn_author_year_pubs = qn_author_year_pubs.reset_index()

In [70]:
qn_author_year_pubs['year'] = qn_author_year_pubs.year.astype('int64')

In [113]:
qn_author_year_pubs.shape

(4069, 3)

In [117]:
# qn_author_year_pubs['date'] = pd.to_datetime(qn_author_year_pubs['year'],format='%Y')
# qn_author_year_pubs = qn_author_year_pubs.set_index(['date'])
# qn_author_year_pubs=qn_author_year_pubs.asfreq(freq='Y', how={'start':'2021-01-01', 'end':'2021-03-31'}, method='ffill')

In [122]:
qn_author_year_pubs = qn_author_year_pubs[qn_author_year_pubs['year']>=2003]

In [ ]:
f = lambda x: x.reindex(range(2003, 2020), method='ffill')
df = data.set_index("year").groupby(['author_name'])['c'].apply(f).reset_index()

In [123]:
qn_author_year_pubs.head(1)

            author_name  year  author_eid_counts
date
2015-01-01  Bai Caiquan  2015                  1

## Merge the NSFC and publication data

In [107]:
qn_nsfc_pubs = qn_author_year_pubs.merge(qn_nsfc,how='inner',on=['author_name','year'])

In [109]:
qn_nsfc_pubs.head(10)

,author_name,year,author_eid_counts,index,申请人,立项,senti,立项年份,pinyin,surname,givenname
0,Bai Chao,2014,1,127,柏超,0,0.013462,0,"[Bai, Chao]",Bai,Chao
1,Bai Chao,2017,1,710,柏超,0,0.014653,0,"[Bai, Chao]",Bai,Chao
2,Bai Chao,2019,2,1231,柏超,0,0.042418,0,"[Bai, Chao]",Bai,Chao
3,Bai Chao,2020,1,1624,柏超,0,0.013366,0,"[Bai, Chao]",Bai,Chao
4,Bai Jiwen,2019,2,1248,白继文,1,0.965006,2019,"[Bai, Jiwen]",Bai,Jiwen
5,Bai Yanwen,2020,6,1554,白延文,0,0.153655,0,"[Bai, Yanwen]",Bai,Yanwen
6,Bao Shoushan,2014,2,26,鲍守山,1,0.948042,2014,"[Bao, Shoushan]",Bao,Shoushan
7,Cao Chao,2019,1,1282,曹超,0,0.334132,0,"[Cao, Chao]",Cao,Chao
8,Cao Haiyan,2020,1,1512,曹海岩,0,0.009701,0,"[Cao, Haiyan]",Cao,Haiyan
9,Cao Hongqian,2019,3,1053,曹洪倩,0,0.010721,0,"[Cao, Hongqian]",Cao,Hongqian

In [110]:
qn_nsfc_pubs.shape

(416, 11)